.App {
  font-family: sans-serif;
  text-align: center;
}

.octave,
.fretboard {
  display: flex;
  flex-direction: column;
}

.string {
  display: flex;
  flex-direction: row;
}

.fret {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid black;
}
